.transaction-history {
  width: 100%;
  border-collapse: collapse;

  max-width: 500px;
  margin: 20px auto;
}

.transaction-history th,
.transaction-history td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.transaction-history th {
  background-color: #979a9a;
  font-weight: bold;
}

.transaction-history tr:nth-child(even) {
  background-color: #bdc3c7;
}

.transaction-history tr:hover {
  background-color: #f1f1f1;
}
